<!-- one way binding -->
<h1>{{title}}</h1><!-- interpolation, es un binding unidireccional -->
<span [hidden]='isValid'>hidden property false</span><br>
<button (click)="onClick()">click me!</button><!-- conecta el evento "click" con la funcion onClick() -->
<input type="text" placeholder="Product name" (input)="onInput($event)">
<p>you have write: {{textValue}}</p>
<!-- two way binding -->
<input type="text" placeholder="Enter shipping address" [(ngModel)]="shippingAddress">
<button (click)="shippingAddress='123 Main Street'">Set default Address</button>
<p>the shipping address is: {{shippingAddress}}</p> 